* {
  font-family: 'Droid Sans';
}
a {
  text-decoration: none;
}
body {
  background-color: DarkSlateGray;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: Cousine;
  display: inline-block;
}
div.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 670px;
}
h1 {
  font-size: 3.2em;
  padding: 6px 20px;
  color: #ff4500;
  box-shadow: 10px 10px 0 #ff4500;
  background-color: FloralWhite;
  border-radius: 6px;
  top: 300px;
  left: 350px;
  position: relative;
}
header {
  background-image: url("made-in.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 550px;
  border-bottom: 10px solid #ff4500;
}
.section h2 {
  font-size: 3em;
  padding: 4px 18px;
  box-shadow: 10px 10px 0;
  background-color: FloralWhite;
  border-radius: 6px;
  position: relative;
}
.navigation {
  top: 10px;
  position: absolute;
}
.navigation a {
  color: #ff4500;
  background-color: FloralWhite;
  display: inline-block;
  padding: 4px 8px;
  margin: 12px;
}
h3 {
  font-size: 1.4em;
  background-color: FloralWhite;
  padding: 6px 12px;
  margin-bottom: 12px;
  margin-top: 26px;
}
.intro h3 {
  color: #ff4500;
}
.content {
  padding-top: 50px;
  padding-bottom: 140px;
  font-size: 1.2em;
  color: FloralWhite;
}
.section {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 6px 0 10px 0;
}
div.section_1 {
  background-image: url("OwfYyiJXQ6qddLgTOBGX_Ariana Prestes photos (4).jpg");
  background-position: center center;
  border-color: #2e8b57;
}
h2#section_1 {
  color: #2e8b57;
  box-shadow: 10px 10px 0 #2e8b57;
  top: 90px;
  left: 190px;
}
.content_1 h3 {
  color: #2e8b57;
}
.content_1 a {
  color: #53e895;
}
.content_1 a:hover {
  color: #00b952;
}
a.section_1 {
  color: #2e8b57;
}
div.section_2 {
  background-image: url("in-out.jpg");
  background-position: top center;
  border-color: #ff6347;
}
h2#section_2 {
  color: #ff6347;
  box-shadow: 10px 10px 0 #ff6347;
  top: 10px;
  left: 10px;
}
.content_2 h3 {
  color: #ff6347;
}
.content_2 a {
  color: #ff8e76;
}
.content_2 a:hover {
  color: #ff2300;
}
a.section_2 {
  color: #ff6347;
}
div.section_3 {
  background-image: url("level.jpg");
  background-position: center center;
  border-color: #556b2f;
}
h2#section_3 {
  color: #556b2f;
  box-shadow: 10px 10px 0 #556b2f;
  top: 100px;
  left: 100px;
}
.content_3 h3 {
  color: #556b2f;
}
.content_3 a {
  color: #a4d356;
}
.content_3 a:hover {
  color: #5d8911;
}
a.section_3 {
  color: #556b2f;
}
div.section_4 {
  background-image: url("EpBHfTrtRLa2PCPwuXkQ_thessaloniki_port.jpg");
  background-position: top center;
  border-color: #ed143d;
}
h2#section_4 {
  color: #ed143d;
  box-shadow: 10px 10px 0 #ed143d;
  top: 200px;
  left: 20px;
}
.content_4 h3 {
  color: #ed143d;
}
.content_4 a {
  color: #ff5277;
}
.content_4 a:hover {
  color: #f00;
}
a.section_4 {
  color: #ed143d;
}
footer {
  border-top: 4px solid GoldenRod;
  padding: 1em;
  text-align: center;
}
footer a {
  color: GoldenRod;
  font-weight: bold;
}
footer ul {
  list-style: none;
}
footer ul :first-child {
  border-left: none;
}
footer li {
  display: inline-block;
  padding: 4px 16px;
  border-left: 4px solid GoldenRod;
}
