#scene {
    display: block;
    height: 700px;
    width: 900px;
    border: 1px solid lightgrey;
}
.selector {
    fill-opacity: 0.2;
    fill: #24b;
}
.seat circle.inner {
    fill: #fff;
    stroke-width: 2;
}
.seat circle.inner {
    stroke: #1345b6;
    fill-opacity: 0.8;
    cursor: move;
}
.seat circle.selection {
    fill-opacity: 0;
    stroke: #ddf;
}
.seat circle.selection.selected {
    stroke: #C097CA;
    stroke-dasharray: 3, 3;
    stroke-width: 2;
}
